<div class="landing-page">
  <img
    src="../../assets/images/Shuffle-dark-logo.png"
    alt="dark logo"
    style="height:5rem; width:auto"
  />
  <div class="landing-options">
    <button class="button" style="vertical-align:middle" routerLink="/login">
      <span>Login </span>
    </button>
    <button class="button" style="vertical-align:middle" routerLink="/register">
      <span>Sign up </span>
    </button>

    >
  </div>
  <h1 class="header1">
    Welcome to Waterloo Shuffle!
  </h1>
  <h2 class="header1">start shuffling now!</h2>
  <button class="button" style="vertical-align:middle" routerLink="/register">
    <span>Sign up </span>
  </button>
</div>
