<div class="landing-page-toolbar">
  <img
    src="../../assets/images/Shuffle-dark-logo.png"
    alt="dark logo"
    style="height:5rem; width:auto"
  />

  <div class="landing-options" style="right:0;">
    <button class="button" style="vertical-align:middle" routerLink="/login">
      <span>Log in </span>
    </button>
    <button class="button" style="vertical-align:middle" routerLink="/register">
      <span>Sign up </span>
    </button>
  </div>
</div>
<div class="landing-page-main">
  <div class="container">
    <h1 class="header1">
      Build your journey
    </h1>
    <h3 class="header2">start shuffling now!</h3>
    <button class="button" style="vertical-align:middle" routerLink="/register">
      <span>Sign up </span>
    </button>
  </div>
</div>

<div class="landing-page-col">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="material-icons">
          monetization_on
        </i>
        <h5 class="col-header">Start your shuffling business now!</h5>
        <p>
          Start your own hardware rental side business. Waterloo shuffle can
          help you generate revenue by renting or selling unused items or
          equipment
        </p>
      </div>
      <div class="col-md-4">
        <i class="material-icons">
          refresh
        </i>
        <h5 class="col-header">Shuffle hardware!</h5>
        <p>
          Rent out everyday equipment for your chosen time period. No strings
          attached. If your a student, try out a new piece of hardware, or in
          general rent out every day items from people near you!
        </p>
      </div>
      <div class="col-md-4">
        <i class="material-icons">
          poll
        </i>
        <h5 class="col-header">Optimize revenue!</h5>
        <p>
          Waterloo Shuffle uses a optimized price recommendation system that
          will help renters/sellers find the best price to ensure a succesful
          shuffle.
        </p>
      </div>
    </div>
  </div>
</div>
