<!-- nav -->

<mat-toolbar color="primary" *ngIf="currentUser">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Menu</h1>
    <span class="menu-spacer"></span>
    <div style>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/user-profile">Profile</a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
      <a mat-button (click)="logout()">Logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a class="md-nav-item nav-link" style="font-size: 130%" routerLink="/"
        >Home</a
      >
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="md-nav-item nav-link" style="font-size: 100%;" routerLink="/"
          >Hi {{ currentUser.firstName }}!</a
        >
      </li>
      <li>
        <a
          class="md-nav-item nav-link"
          style="font-size: 100%;"
          routerLink="/user-profile"
          >Profile</a
        >
      </li>
      <li>
        <a class="md-nav-item nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
