<!-- nav -->
<mat-toolbar *ngIf="currentUser" class="logo-toolbar"
  ><img
    src="../assets/images/Shuffle logo.png"
    alt="Main Logo"
    height="40rem"
    width="auto"
  />

  <div class="logo-toolbar-icons">
    <mat-icon
      class="logo-toolbar-icon"
      aria-hidden="false"
      aria-label="Example home icon"
      routerLink="/home"
      >home</mat-icon
    >
    <mat-icon class="logo-toolbar-icon" routerLink="/user-profile"
      >account_circle</mat-icon
    >
    <mat-icon class="logo-toolbar-icon" (click)="logout()"
      >power_settings_new</mat-icon
    >
  </div>
</mat-toolbar>

<mat-toolbar
  *ngIf="currentUser"
  class="toolbar"
  style="width: 95%; margin: 0 auto"
>
  <mat-toolbar-row class="toolbar-text">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <div style>
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/user-profile">Profile</a>
      <a mat-button routerLink="/home"> My Rentals </a>
      <a mat-button routerLink="/merch"> Shuffle Hardware </a>
      <a mat-button routerLink="/home"> Notifications </a>
      <a mat-button (click)="logout()">Logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->

<div>
  <div>
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="page-footer">
  <mat-toolbar class="page-footer-toolbar">
    <img
      src="../assets/images/Shuffle-dark-logo.png"
      alt="footer dark logo"
      height="40rem"
      width="auto"
    />
    <p>
      Waterloo University
    </p>
    <p>
      About Us
    </p>
  </mat-toolbar>
</footer>
