/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  /* background: url(./assets/images/login-page.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.login-content {
  font-size: 0.75rem;
  color: black;
  text-align: center;
}

.register-content {
  font-size: 0.75rem;
  color: black;
  text-align: center;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo-toolbar {
  background-color: white;
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}

.logo-toolbar-icons {
  margin-left: 81vw;
  position: relative;
}

.logo-toolbar-icon {
  cursor: pointer;
  margin-left: 0.5rem;
}

.toolbar {
  max-height: 10px;
  background-color: #232f3e;
}

.toolbar-text {
  font-size: 1rem;
  color: #d3d3d3;
}

.page-footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 95%;
  margin: 0 auto;
}

.page-footer-toolbar {
  margin-top: 0.5rem;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.5rem;
  color: white;
  background-color: #232f3e;
}

.jumbotron {
  background-color: transparent;
}

.button {
  display: inline-block;
  border-radius: 5rem;
  background-color: #f3c677;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 0.5rem;
  padding: 0.5rem;
  width: 4rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 1rem;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
