<link
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<h1 class="header1">Start Shuffling Now {{ currentUser.firstName }}!</h1>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form action="" [formGroup]="searchForm">
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <button id="button-addon7" type="submit" class="btn">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                <input
                  type="search"
                  placeholder="What're you searching for?"
                  aria-describedby="button-addon7"
                  class="form-control"
                />
              </div>
            </form>
            <ul>
              <li *ngFor="let item of hardware">
                {{ item.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
